<div class="container mt-5">
    <div class="row rounded shadow">
        <div class="col-5">
            <img src="https://marketplace.canva.com/EAGQVSwwEIo/1/0/1067w/canva-modern-aesthetic-food-mood-photo-collage-oCPjknAfgbI.jpg" width="100%" alt="">
        </div>
        <div class="col-7 p-5 mt-5">
            <h1 class="color text-center"><b>Login</b></h1>
            
            <div class="row">
                <div class="col"></div>
                <div class="col-7">
                    <form [formGroup]="loginForm" (ngSubmit)="login()" class="mt-5">
                
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                          <input type="email" formControlName="email" id="form2Example1" class="form-control" placeholder="Email Address"/>
                          
                        </div>
                        @if(loginForm.get("email").errors && loginForm.get("email").touched){
                          <p class="text-danger mt-1">*Invalid email</p>
                        }
                    
                      
                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                          <input type="password" formControlName="password" id="form2Example2" class="form-control" placeholder="Password" />
                          
                        </div>
                        
                        
                      
                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                          <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
                              <label class="form-check-label" for="form2Example34"> Remember me </label>
                            </div>
                          </div>
                      
                          <div class="col">
                            <!-- Simple link -->
                            <a href="#!">Forgot password?</a>
                          </div>
                        </div>
                        
                        <div class="text-center">
                        <!-- Submit button -->
                        <button data-mdb-ripple-init type="submit" class="btn btn-outline-primary btn-block mb-4 ">Sign in</button>
                        </div>
                      
                        <!-- Register buttons -->
                        <div class="text-center">
                          <p>Not a member? <a href="#!">Register</a></p>
                          <p>or sign up with:</p>
                          <button  data-mdb-ripple-init type="button" class="btn btn-outline-secondary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                          </button>
                      
                          <button  data-mdb-ripple-init type="button" class="btn btn-outline-secondary btn-floating mx-1">
                            <i class="fab fa-google"></i>
                          </button>
                      
                          <button  data-mdb-ripple-init type="button" class="btn btn-outline-secondary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                          </button>
                      
                          <button  data-mdb-ripple-init type="button" class="btn btn-outline-secondary btn-floating mx-1">
                            <i class="fab fa-github"></i>
                          </button>
                        </div>
                      </form>

                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>
