<div class="container">
    <h2 class="text-center p-5">Your Saved Recipe Collection</h2>
    <div class="row mt-3">
        <div class="col-3">
            <div class="card">
                <img src="https://e7.pngegg.com/pngimages/786/552/png-clipart-platter-of-grilled-lamb-italian-cuisine-pizza-pasta-food-plate-healthy-food-food-beef.png" width="100%" alt="">
                <div>
                    
                    <div class="d-flex justify-content-between p-2">
                        <h5>Name:</h5>
                        <i class="fa-solid fa-trash text-danger fs-4"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
